<div class="card">
    <div class="d-flex">
        <div class="p-2">
            <img src="#" alt="noImg"/>
        </div>
        <div class="p-2">
            <p>{{ course.title }} </p>
            <p>{{course.instructor_name}}</p>
        </div>
    </div>
    <div class="offset-secondry text-center">
        <p>Descriptions:</p>
    </div>
    <div class="d-flex">
        <div class="p-2">
            <span class="fa fa-facebook"></span>
        </div>
        <div class="p-2">
            <p>Pre-registrations</p>
            <p>Date</p>
            <p>Duration</p>
        </div>
    </div>
</div>