
<div class="row secondry-offset">
   <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-11 pl-5 m-0">
          <p class="font-weight-bold">
          <div>
            <input type="text" class="form-control" #filterText placeholder="&#xF002; Filter courses" id="demo" (keyup)="filterCourse(filterText.value)">
          </div>
          <br>
          <p class="font-weight-bold">Category</p>
          <div class="d-flex flex-column">
              <div class="p-2">
                  <input type="radio" [(ngModel)]="myRadio" (click)="changeCategory('all')" id="all" value="all"/> All
              </div>
              <div class="p-2" *ngFor="let catego of categories">
                <input type="radio" [(ngModel)]="myRadio" id="catego" (click)="changeCategory(catego)" value="{{catego}}" />  {{catego}}
              </div>
          </div>
        </div>
      </div>
   </div>
   <div class="col-sm-9">
    <p> {{tempCourses.length}} courses open for admission </p>
     <div class="row">
       <div class="col-sm-4 m-0 p-2" *ngFor="let course of tempCourses">
           <app-course [course] = "course"></app-course>
           <br>
       </div>
     </div>
  </div>
</div>
